<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebPagetest" type="Metrics.Parsers.WebPagetest.SiteConfigurationSection, Metrics.Parsers"/>
    <section name="LogTail" type="Metrics.Parsers.LogTail.LogConfigurationSection, Metrics.Parsers"/>
  </configSections>
  <WebPagetest>
    <Sites>
      <Site graphiteKey="wpt.product1" urlPrefix="www.example.com"/>
    </Sites>
  </WebPagetest>
  <LogTail>
    <Logs>
      <!-- Scans a W3C IIS Log (maximum 10MB tail), adds up the "timetaken" match and averages it over the number of results in 
          that interval-->
      <Log location="d:\projects\" pattern="*.log" graphiteKey="iis.{0}.prosvc.{1}" value="timetaken" type="avg"
           interval="datetime" dateFormat="yyyy-MM-dd HH:mm:ss" maxTailMB="10"
           regex="^(?&lt;datetime&gt;\S+\s\S+)\s\S+\s\S+\s\S+\s/(?&lt;url&gt;[^+/]*)\S*\s\S+\s\S+\s\S+\s\S+\s\S+\s(?&lt;code&gt;\S+)\s\S+\s\S+\s(?&lt;timetaken&gt;\S+)$">
        <Mapping>
          <add key="0" value="server1"/>
          <add key="1" value="?url"/>
        </Mapping>
      </Log>
      <!-- Scans a W3C IIS Log (maximum 10MB tail) and counts the response codes per second (grouped by "interval" in "dateFormat")-->
      <Log location="d:\projects\" pattern="*.log" graphiteKey="iis.{0}.prosvc.{1}.{2}" type="count"
           interval="datetime" dateFormat="yyyy-MM-dd HH:mm:ss" maxTailMB="10"
           regex="^(?&lt;datetime&gt;\S+\s\S+)\s\S+\s\S+\s\S+\s/(?&lt;url&gt;[^+/]*)\S*\s\S+\s\S+\s\S+\s\S+\s\S+\s(?&lt;code&gt;\S+)\s\S+\s\S+\s(?&lt;timetaken&gt;\S+)$">
        <Mapping>
          <add key="0" value="server1"/>
          <add key="1" value="?url"/>
          <add key="2" value="?code"/>
        </Mapping>
      </Log>
    </Logs>
  </LogTail>
  <appSettings>
    <add key="GraphiteKeyPrefix" value="product1"/>
    <add key="GraphiteHost" value=""/>
    <add key="GraphitePort" value="8080"/>
  </appSettings>
</configuration>