<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebPagetest" type="Metrics.Parsers.WebPagetest.SiteSection, Metrics.Parsers"/>
  </configSections>
  <WebPagetest>
    <Sites>
      <Site graphiteKey="test" urlPrefix="www"/>
    </Sites>
  </WebPagetest>
  <appSettings>
    <add key="GraphiteKeyPrefix" value="wpt"/>
  </appSettings>
</configuration>