<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebPagetest" type="Metrics.Parsers.WebPagetest.SiteConfigurationSection, Metrics.Parsers"/>
    <section name="LogTail" type="Metrics.Parsers.LogTail.LogConfigurationSection, Metrics.Parsers"/>
  </configSections>
  <WebPagetest wptHost="http://mywebpagetest.private.instance">
    <Sites>
      <Site graphiteKey="wpt.home" url="http://www.example.com/" enableDetailedMetrics="true"/>
      <Site graphiteKey="wpt.newsHome" url="http://www.example.com/news/" enableDetailedMetrics="true"/>
    </Sites>
  </WebPagetest>
  <LogTail>
    <!--Standard IIS log with timetaken enabled -->
    <Patterns>
      <add key="iis" value="^(?&lt;datetime&gt;\S+\s\S+)\s\S+\s\S+\s\S+\s/(?&lt;url&gt;[^+/]*)\S*\s\S+\s\S+\s\S+\s\S+\s\S+\s(?&lt;code&gt;\S+)\s\S+\s\S+\s(?&lt;timetaken&gt;\S+)$"/>
    </Patterns>
    <Logs>
      <Log pattern="*.log" maxTailMB="0" regexKey="iis" name="myWebSite">
        <Locations>
          <add key="server1" value="\\server1\logs\w3svc1"/>
          <add key="server2" value="\\server2\logs\w3svc1"/>
        </Locations>
        <Stats>
          <Stat graphiteKey="timers.iis.{locationKey}.myWebSite.avg" value="timetaken" type="avg" interval="datetime" dateFormat="yyyy-MM-dd HH:mm:ss" includeZeros="false"/>
          <Stat graphiteKey="stats.iis.{locationKey}.myWebSite.{0}" type="count" interval="datetime" dateFormat="yyyy-MM-dd HH:mm:ss" />
        </Stats>
        <Mapping>
          <add key="0" value="?code"/>
        </Mapping>
      </Log>
    </Logs>
  </LogTail>
  <appSettings>
    <add key="GraphiteKeyPrefix" value="mySite"/>
    <add key="GraphiteHost" value="www.example.com"/>
    <add key="GraphitePort" value="1234"/>
  </appSettings>
</configuration>